
# Retreive Journald Logs / Or Files
https://grafana.com/docs/alloy/latest/reference/components/loki/loki.source.journal/

# Retrieve Docker Services Logs
https://grafana.com/docs/alloy/latest/reference/components/loki/loki.source.docker/


# Map Docker Container Names to Service=Container_Name
https://grafana.com/docs/alloy/latest/reference/components/loki/loki.relabel/

# Forward Logs to Loki
https://grafana.com/docs/alloy/latest/reference/components/loki/loki.write/


